@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	color: #fff;
	font-size: 14pt;
	font-weight: 300;
	text-decoration: none;
}
header{
	padding: 3px 4rem 10px 4rem;
	background:url("images/bg-pattern-intro.svg"),linear-gradient(170deg,#ff8e70,#ff585f);
	background-size: cover;
	background-position: center;
}
/* Style of navigation bare */
nav{
	display: flex;
	align-items: center;
	margin-bottom: 3rem;
	flex-wrap: nowrap;
}
nav > div{
	display: flex;
	flex-grow: 2;
	justify-content: space-between;
}
nav > label{
	display: none;
}
nav > input[type="checkbox"]{
	display: none;
}

#logo{
	color: #fff;
	margin-right:20px ;
	font-family: roboto,sans-serif;
	font-size: 24pt;
	text-transform: uppercase;
	letter-spacing: 10px;
}
#nav_container{
	display: flex;
	align-items: center;
	padding: 0.5rem;
}

#nav_container > ul ul{
	position: absolute;
	background-color: #fff;
	padding: 1.5rem 2rem;
	list-style: none;
	border-radius: 10px;
	display: none;
}
#nav_container > ul ul a{
	color: #000;
}
#nav_container > ul > li{
	display: inline-block;
	margin: 0 15px;
}
#nav_container > ul  li:hover >ul{
	display: block;
}
#nav_container > ul  li:hover >a:after{
	transform: rotateZ(180deg);
}
#nav_container > ul > li > a:after{
	content: "^";
	display: inline-block;
}
#nav_container > ul > li a:hover{
	text-decoration: underline;
}
#sign{
	padding: 0.5rem;
}
#sign >a{
	padding: 1rem 1.5rem;
	border-radius: 1.5rem;
}
#sign >a:hover{
	background-color: rgba(255,255,255,0.3);
}

/* Style header section */
header > section div:first-child {
	text-align: center;
}
header > section div:first-child h1 {
	font-size: 32pt;
	color: #fff;
	margin-bottom: 2rem;
}
header > section div:first-child p {
	font-size: 18pt;
	color: #eee;
	margin-bottom: 2rem;
}
header > section div:last-child {
	text-align: center;
	margin-bottom: 3rem;
	display: flex;
	justify-content: center;
}
header > section a {
	margin: 1rem;
	background-color: rgba(255, 255, 255, 0.3);
	padding: 1rem 2rem;
	border-radius: 2rem;
	color: #fff;
}
header > section a:hover{
	background-color: rgba(225,255,255);
	color: #ff585f;
}
/*main section style*/
main{
	padding: 3px 4rem 10px 4rem;
}
.container1{
	display: flex;
	flex-wrap: wrap;
}
.container1 > h1{
	flex: 2 100%;
	text-align: center;
	font-size: 32pt;
	color: #48f;
	margin: 4rem 0 4rem 0;
	font-family:"roboto",sans-serif ;

}
.container1 > section{
	flex: 1 50%;
}
.paragraph > h3{
	font-size: 24pt;
	margin-bottom: 2rem;
	color: #36d;
	font-family:"roboto",sans-serif ;
}
.paragraph > p{
	font-size: 16pt;
	font-family:"roboto",sans-serif ;
	font-weight: 300;

}
.container1 > div{
	flex: 1 50%;
	background-image: url("images/illustration-editor-desktop.svg");
	background-size: 100%;
	background-position: center;
}



